.dart_tool/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea
.dart_tool/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix