.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/package_graph.json
.dart_tool/version
.dart_tool/extension_discovery/devtools.json
.dart_tool/extension_discovery/README.md
.dart_tool/extension_discovery/vs_code.json
